[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bs4 = "*"
requests = "*"
gunicorn = "==19.8.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.6"
